.container,
#mycontainer {
  /* Base styles for small screens */
  width: 60%;
  max-width: 100%;
  margin: 0 auto;
}

.container {
  background-color: darkblue;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-top: 5%;
  padding: 30px;
}

#mycontainer {
  background-color: black;
  padding-top: 200px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 30px;
  padding-bottom: 300px;
}

p {
  text-align: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

@media (min-width: 768px) {
  .container,
  #mycontainer {
    width: 30%;
  }
}

@media (min-width: 992px) {
  .container,
  #mycontainer {
    width: 30%;
  }
}

@media (min-width: 1200px) {
  .container,
  #mycontainer {
    width: 20%;
    /* max-width: 1200px;  */
  }
}

li {
  border: solid 1px gray;
  border-radius: 25px;
  height: 20px;
  margin-right: 60px;
  color: white;
  text-align: center;
}
