.container {
  width: 20%; /* Set the width of the container */
  max-width: 1200px; /* Set a maximum width */
  margin: 0 auto; /* Center the container horizontally */
  padding: 20px;
  background-color: darkblue;
  /* border: 1px solid #ccc; */
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-top: 2%;
}

p {
  text-align: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

#mycontainer {
  width: 15.5%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
  padding-top: 150px;
  background-color: black;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

ul {
  padding: 1px;
  margin-top: 100px;
}

li[data-letter="A"] {
  display: inline-block;
  width: 30px; /* Set width to create a square */
  height: 30px; /* Set height to create a square */
  border-radius: 50%; /* Make the square a circle */
  background-color: white; /* Set white background */
  text-align: center; /* Center the text horizontally */
  line-height: 30px; /* Center the text vertically */
  font-weight: bold; /* Make the font bold */
  color: black; /* Change the color to blue */
}
